.header {
	background-color: #fafafa;
	border-bottom: 1px solid #f3f3f3;
}

.flex-container {
	width: 100%;
	min-height: 50px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.header__item {
	display: block;
	margin-right: 15px;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	background-color: rgb(171, 120, 238);
	cursor: pointer;
}

.header__item:hover {
	background-color: rgb(152, 101, 219);
}

.header__item:active {
	background-color: rgb(180, 133, 241);
}
